@import "../../../App.scss";

.left-block {
  @extend %block;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  h1 {
    @include font($font-fem1, $font-st1, 55px, 81%);
    a {
      text-decoration: none;
      color: $color2;
      &:hover {
        color: $color1;
      }
    }
  }
  p {
    @include font($font-fem1, $font-st2, 26px, 95%);
    color: $color3;
  }
  .left-block_list {
    @include font($font-fem2, $font-st2, $font-size1, 168%);
    color: $color4;
  }
  .left-block_get-started {
    display: flex;
    flex-direction: row;
    justify-content: left;
    .button-get {
      @include font($font-fem1, $font-st1, $font-size1, 100%);
      width: 253px;
      height: 53px;
      border-radius: 6px;
      border: none;
      color: $color5;
      background: $gradient;
      &:hover {
        background: $hover-gradient;
        cursor: pointer;
      }
    }
    .button-action {
      @include font($font-fem1, Semi Bold, $font-size1, 100%);
      color: $color3;
    }
  }
}
