.App {
  max-width: 1847px;
  display: flex;
  background-color: #ffff;
}
// templates
%block {
  width: 50%;
  height: 80%;
  display: flex;
}
//mixin
@mixin font($f, $style, $size, $line-height) {
  font-family: $f;
  font-style: $style;
  font-size: $size;
  line-height: $line-height;
}
//variables
$font-fem1: Poppins;
$font-fem2: Open Sans;

$font-st1: bold;
$font-st2: Regular;

$font-size1: 14px;

$color1: #20bc7e;
$color2: #feb237;
$color3: #050505;
$color4: #8c9097;
$color5: #fff;

$gradient: linear-gradient(to right, #ffbd39, #fa9531, #fa9531);
$hover-gradient: linear-gradient(to right, #82f3c6, #20bc7e, #20bc7e);
